<!--
Copyright 2022 Scott Lewis, All rights reserved.
-->
<app-header title="Login">
</app-header>
<ion-content color="greyLight">
  <div id="container" style="margin-left: 5px; margin-right: 5px;">
    <p style="color: black;margin-top: 15px;">Reset your password</p><br>
    <ion-text color="danger" style="font-size: 15px; font-weight: bold;" *ngIf="showErrors">{{errorMessage}}</ion-text>

    <form [formGroup]="resetForm" action="">
      <ion-item color="greyLight" lines="inset">
        <ion-label color="dark" position="floating">New Password</ion-label>
        <ion-input type="password" color="dark" [value]="password" (ionChange)="passwordChanged($event)"
          autofocus="true" formControlName="password" required>
        </ion-input>
        <ion-text color="danger" class="error" *ngIf="submitted && errorCtr.password.errors?.required">
          Password is required.
        </ion-text>
      </ion-item>
      <ion-item color="greyLight" lines="inset">
        <ion-label color="dark" position="floating">Confirm New Password</ion-label>
        <ion-input type="password" color="dark" [value]="password2" (ionChange)="password2Changed($event)"
          autofocus="true" formControlName="password2" required>
        </ion-input>
        <ion-text color="danger" class="error" *ngIf="submitted && (errorCtr.password2.errors?.required || invalidConfirmPassword)">
          Confirm Password must match.
        </ion-text>
      </ion-item>
      <ion-chip (click)="resetPassword()" style="background: var(--ion-color-success);margin-top: 10px;padding: 20px;"
        class="text-center common-border">
        <span *ngIf="isSaving">
          <ion-spinner name="crescent" style="font-size: 20px;"></ion-spinner>
        </span>
        <span *ngIf="!isSaving">
          <ion-icon name="log-in-outline" style="font-size: 20px;"></ion-icon>
        </span>
        <span style="margin-left: 10px; font-size: 20px;">Reset Password
        </span>
      </ion-chip>
    </form>
    <!-- <ion-chip (click)="resetPassword()"
      style="background: var(--ion-color-success);width:40%;margin-left:auto;margin-right:auto; display:block;"
      class="text-center common-border">
      <ion-icon name="log-in-outline"></ion-icon>
      <span style="">Reset Password</span>
    </ion-chip> -->
    <!-- <ion-button (click)="login()">Login</ion-button> -->
  </div>
</ion-content>