<!--
Copyright 2022 Scott Lewis, All rights reserved.
-->
<app-header title="Login">
</app-header>
<ion-content>
  <div id="container" style="margin-left: 5px; margin-right: 5px;">
    <p style="margin-top: 15px;">Login for FREE to start playing!</p><br>
    <form [formGroup]="loginForm" action="">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text color="danger" style="font-size: 15px; font-weight: bold;" *ngIf="showErrors">{{errorMessage}}
            </ion-text>
            <ion-item lines="inset">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" [value]="email" enterkeyhint="enter" (ionChange)="emailChanged($event)"
                autofocus="true" formControlName="email" required>
              </ion-input>
              <ion-text color="danger" class="error" *ngIf="submitted && errorCtr.email.errors?.required">
                Email is required.
              </ion-text>
              <ion-text color="danger" class="error" *ngIf="submitted && errorCtr.email.errors?.email">
                Valid email is required.
              </ion-text>
            </ion-item>
            <ion-item lines="inset">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" [value]="password" enterkeyhint="enter" (ionChange)="passwordChanged($event)"
                formControlName="password" required (keyup.enter)="login()">
              </ion-input>
              <ion-text color="danger" class="error" *ngIf="submitted && errorCtr.password.errors?.required">
                Password is required.
              </ion-text>
            </ion-item>
            <ion-item button (click)="login()">
              <ion-label color="success">Login
              </ion-label>
              <span *ngIf="isSaving">
                <ion-icon name="crescent" style="font-size: 24px;height: 48px;"></ion-icon>
              </span>
              <span *ngIf="!isSaving">
                <ion-icon name="log-in-outline" style="font-size: 24px;height: 48px;"></ion-icon>
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <a (click)="resetPassword()" class="pointer" style="display: block; margin-top: 10px;">
      <ion-text color="secondary">Forgot Password?</ion-text>
    </a>
    <p style="margin-top: 20px;">
      <ion-text>New here? </ion-text>
      <a (click)="register()" class="pointer">
        <ion-text color="primary">Sign Up</ion-text>
      </a>
    </p>
  </div>
</ion-content>