<!--
Copyright 2022 Scott Lewis, All rights reserved.
-->
<app-header title="Reset Password" titleMarginLeft="0px" [menuButton]="false">
  <ion-buttons color="dark" slot="end">
    <ion-button color="dark" (click)="dismiss(false)">
      <ion-icon name="close-sharp"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-header>

<ion-content color="transparent" style="text-align: center">
  <!-- <br /><br />
  <label color="dark"style="color: black;"><b>{{name}}</b></label>
  <br /><br /> 
#00ef31
-->
  <ion-item >
    <ion-label color="dark" position="floating">Email</ion-label>
    <ion-input (ionChange)="emailChange($event)" type="text" color="dark" [value]="email" autofocus="true"></ion-input>
  </ion-item><br />
  <ion-chip (click)="dismiss(true)"
  style="display: block;height: auto;width: fit-content;background: var(--ion-color-success);left:40%;"
  class="text-center common-border">
  Send
</ion-chip><br />
  <ion-chip (click)="dismiss(false)"
  style="display: block;height: auto;width: auto;background: var(--ion-color-danger);"
  class="text-center common-border">
  Cancel
</ion-chip>
  <!-- <ion-button color="success" (click)="loveIt()" [fill]="currentRating == 1 ? 'outline' : 'solid'">Favorite</ion-button>
  <br /><br />
  <ion-button color="primary" (click)="likeIt()" [fill]="currentRating == 2 ? 'outline' : 'solid'">Like</ion-button>
  <br /><br />
  <ion-button color="warning" (click)="dislikeIt()" [fill]="currentRating == 3 ? 'outline' : 'solid'">Dislike
  </ion-button><br /><br />
  <ion-button color="danger" (click)="hateIt()" [fill]="currentRating == 4 ? 'outline' : 'solid'">Don't Show Again
  </ion-button><br /><br /><br /><br />
  <ion-button color="dark" (click)="doDelete()" [style]="preferenceId > 0 ? '' : 'display: none;'">Delete</ion-button> -->
</ion-content>