<!--
Copyright 2022 Scott Lewis, All rights reserved.
-->
<app-header title="Reset Password" titleMarginLeft="0px" [menuButton]="false">
  <ion-buttons color="dark" slot="end">
    <ion-button color="dark" (click)="dismiss(false)">
      <ion-icon name="close-sharp"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-header>

<ion-content color="transparent" style="text-align: center">
  <form [formGroup]="loginForm" action="">
    <ion-item>
      <!-- <ion-label color="dark" position="floating">Email</ion-label> -->
      <!-- <ion-input (ionChange)="emailChange($event)" type="text" color="dark" [value]="email" autofocus="true" required="true"></ion-input> -->

      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [value]="email" enterkeyhint="enter" (ionChange)="emailChanged($event)" autofocus="true"
        formControlName="email" required>
      </ion-input>
      <ion-text color="danger" class="error" *ngIf="submitted && errorCtr.email.errors?.required">
        Email is required.
      </ion-text>
      <ion-text color="danger" class="error" *ngIf="submitted && errorCtr.email.errors?.email">
        Valid email is required.
      </ion-text>
    </ion-item>
    <ion-item button (click)="dismiss(true)">
      <ion-label color="success">
        Send Reset Email
      </ion-label>
      <ion-icon name="send-outline" style="font-size: 24px;height: 48px;"></ion-icon>
    </ion-item>
    <ion-item button (click)="dismiss(false)">
      <ion-label color="secondary">
        Cancel
      </ion-label>
      <ion-icon name="close-circle-outline" style="font-size: 24px;height: 48px;"></ion-icon>
    </ion-item>
  </form>
</ion-content>