<!--
Copyright 2022 Scott Lewis, All rights reserved.
-->
<app-header title="Add State" titleMarginLeft="0px" [menuButton]="false">
  <ion-buttons slot="end">
    <ion-button (click)="dismiss(false, null)">
      <ion-icon name="close-sharp"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-header>

<ion-content>
  <p style="margin-left: 15px;">Select the state's license plate you found</p>
  <ion-searchbar id="search" #searchBar class="search" show-clear-button="focus" placeholder="Search" [autofocus]="true"
    (ionChange)="searchOnChange($event)"></ion-searchbar>
  <div style="height: 80vh; overflow-y: scroll;" style="margin-left: auto; margin-right: auto; width: fit-content; margin-bottom: 15px;">
    <div button *ngFor="let lp of filteredLicensePlates" (click)="dismiss(true, lp)" style="margin-bottom: 10px;">
      <img [src]="imageBaseUrl+lp?.licensePlateId"  [alt]="lp?.state?.name" />
    </div>
  </div>
</ion-content>