<!--
Copyright 2023 Scott Lewis, All rights reserved.
-->
<app-header title="Profile">
</app-header>
<ion-content>
  <div *ngIf="!isAuthenticated" class="text-center">
    <p style="text-align: center;">You are not signed into Google Play Games.<br>Your data is stored locally.</p>
    <ion-item button (click)="signIn()">
      <ion-label color="primary">
        Sign into Google Play
      </ion-label>
      <ion-icon name="log-in-outline" style="font-size: 24px;height: 48px;"></ion-icon>
    </ion-item>
    <ion-item button (click)="confirmDelete()">
      <ion-label color="danger">
        Delete Data
      </ion-label>
      <ion-icon name="trash-outline" style="font-size: 24px;height: 48px;"></ion-icon>
    </ion-item>
  </div>
  <div *ngIf="isAuthenticated">
    <ion-item lines="none">
      <div style="width: 100% !important; justify-content: space-between; text-align: center;">You are signed into
        Google Play
      </div>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item lines="inset">
      <ion-avatar slot="start">
        <ion-img alt="Player avatar" [src]="imageUrl"></ion-img>
      </ion-avatar>
      <ion-label>{{name}}</ion-label>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item button (click)="viewSaves()">
      <ion-label color="primary">
        View Saves
      </ion-label>
      <ion-icon name="save-outline" style="font-size: 24px;height: 48px;"></ion-icon>
    </ion-item>
  </div>
</ion-content>