<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{this.currentGame?.title}}</ion-title>
    <ion-icon slot="end" name="ellipsis-vertical-outline" id="click-trigger"
      style="font-size: 20px; margin-right: 15px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-popover trigger="click-trigger" triggerAction="click">
    <ng-template>
      <ion-list>
        <ion-item (click)="confirmNewGame()"><ion-icon name="add" slot="start"></ion-icon> New Game</ion-item>
        <ion-item (click)="showEditGameModal()"><ion-icon name="pencil" slot="start"></ion-icon> Edit Name</ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
  <div id="container">
    <ion-button (click)="testSignIn()">Test Sign In</ion-button>
    <ion-button (click)="testUi()">Test UI</ion-button>
    <ion-button (click)="testSave()">Test Save</ion-button>
    <ion-button (click)="testLoad()">Test Load</ion-button>
    <div *ngIf="currentGame == null">
      <ion-button (click)="confirmNewGame()">Start new game?</ion-button>
    </div>
    <div *ngIf="currentGame != null">
      <div *ngIf="this.currentLicensePlates.length >= this.allLicensePlates.length">
        <h2>Congratulations!</h2>
        <h5>You found all the states!</h5>
        <ion-button (click)="confirmNewGame()" style="margin-bottom: 30px;">Start new game</ion-button>
      </div>
      <div *ngIf="this.currentLicensePlates.length < this.allLicensePlates.length">
        <p style="text-align: center; ">Found {{this.currentLicensePlates.length}} of
          {{this.allLicensePlates.length}} States</p>
        <ion-fab>
          <ion-fab-button (click)="search()">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <us-map></us-map>
      </div>
      <div *ngIf="this.currentLicensePlates.length == 0">
        <ion-button (click)="search()" style="margin-top: 30px;">
          <ion-icon name="add" slot="start"></ion-icon>
          Add Your First State
        </ion-button>
      </div>
      <div style="display: flex; opacity: .9; margin-top: 5px; margin-bottom: 10px;"
        *ngIf="this.currentLicensePlates.length > 1" (click)="sortList()">
        <ion-icon name="funnel" style="font-size: 25px;"></ion-icon>
        <ion-text
          style="font-size: 16px; margin-left: 5px; margin-top: 3px;">{{this.sortArray[this.currentSort].replace('
          Asc','').replace(' Desc','')}}</ion-text>
        <ion-icon name="arrow-up-outline" *ngIf="this.sortArray[this.currentSort].indexOf('Desc') > 0"></ion-icon>
        <ion-icon name="arrow-down-outline" *ngIf="this.sortArray[this.currentSort].indexOf('Asc') > 0"></ion-icon>
      </div>
      <div style="height: calc(60vh); overflow-y: scroll;" *ngIf="this.currentLicensePlates.length > 0">
        <ion-list>
          <ion-item-sliding #slides *ngFor="let glp of this.currentLicensePlates; index as i;" (click)="view(glp, i)">
            <ion-item>
              <ion-label slot="start">
                <ion-img [src]="'data:image/png;base64,'+glp?.licensePlate?.image"
                  [alt]="glp?.licensePlate?.state?.name" width="125px;"></ion-img>
              </ion-label>
              <ion-label slot="">
                {{glp?.licensePlate?.state?.name}}<br>
                <p style="font-size: 14px;">{{glp?.createdDateTime | dfnsFormat: 'MMM d \'at\' h:mm a' }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" expandable="false" (click)="removeLicensePlateFromGame(glp)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>