<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h3>Found License Plate?</h3>
    <ion-searchbar show-clear-button="focus" placeholder="Search" (ionChange)="searchOnChange($event)"></ion-searchbar>
    <div style="height: 200px; overflow-y: scroll;">
      <ion-list style="margin-left: 10px; margin-right: 10px; margin-top: -5px;">
        <ion-item button *ngFor="let state of filteredStates" (click)="selectedState(state)">{{state}}</ion-item>
      </ion-list>
    </div>
    <div style="height: 400px; overflow-y: scroll;">
      <ion-card *ngFor="let state of filteredStates">
        <ion-card-header>
          <ion-card-title>{{state}}</ion-card-title>
          <ion-card-subtitle>Found 1 hour ago</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>